h1{font-size: 1.45em; font-weight: normal;  margin:0;padding:0px; margin-bottom: 20px; padding-bottom: 10px;}

.main-title {font-size: 6em;}
body {background-color: #f8f9fa!important;}
h2,h3,h4{ margin:0;padding:0px;font-size:1.15em; margin-bottom:10px; font-weight:normal;}


.shadow {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.content {
  position: relative;
  margin: 0 auto;
}
.content:before,
.content:after {
  content: " ";
  display: table;
}
.content:after {
  clear: both;
}
@media (max-width: 768px) {
  .content .content {
    margin-left: -5px;
    margin-right: -5px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .content .content {
    margin-left: -10px;
    margin-right: -10px;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .content .content {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 1280px) {
  .content .content {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (max-width: 768px) {
  .col-padding {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .col-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .col-padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .col-margin {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-margin {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .col-margin {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .col-margin {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .col-margin-bottom {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-margin-bottom {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .col-margin-bottom {
    margin-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .col-margin-bottom {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .col-margin-top {
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-margin-top {
    margin-top: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .col-margin-top {
    margin-top: 30px;
  }
}
@media (min-width: 1280px) {
  .col-margin-top {
    margin-top: 40px;
  }
}

.container-top-header{
    background: #16683f;
    color: #ffffff;
	height: 50px;
}
@media (max-width: 767px) {
  .col-mb-hide,
  .mb-hide,
  .tablet-block,
  .dt-block,
  .ld-block {
    display: none;
  }
  .mb-block {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-hide,
  .tablet-hide,
  .mb-block,
  .dt-block,
  .ld-block {
    display: none;
  }
  .tablet-block {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .col-dt-hide,
  .dt-hide,
  .mb-block,
  .tablet-block,
  .ld-block {
    display: none;
  }
  .dt-block {
    display: block;
  }
}
@media (min-width: 1280px) {
  .col-ld-hide,
  .ld-hide,
  .mb-block,
  .tablet-block,
  .dt-block {
    display: none;
  }
  .ld-block {
    display: block;
  }
}
.container-top-header > .content {
  position: static;
}
.container-top-header > .content > .col {
  position: static;
  padding: 0;
}
.container-top-header .top-header-link,
.container-top-header li a {
  display: inline-block;
  padding: 15px 5px;
  color: #ffffff;
  text-decoration: none;
  float: left;
}
@media (min-width: 768px) {
  .container-top-header .top-header-link,
  .container-top-header li a {
    padding: 15px;
  }
}
.container-top-header .top-header-link:hover,
.container-top-header li a:hover {
  text-decoration: none;
  background: #0d3e26;
}
.container-top-header .top-header-link {
  height: 50px;
  min-width: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .container-top-header .top-header-link:first-child {
    padding-left: 10px;
    margin-left: 5px;
  }
}
.container-top-header .open-menu {
  float: right;
  width: 50px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container-header {
  padding-top: 30px;
}
.top-header-right-side {
  float: right;
}
@media (max-width: 767px) {
  .top-header-right-side {
    margin-right: 50px;
  }
}
.top-header-nav {
  color: #ffffff;
  float: left;
  line-height: 20px;
}
.top-header-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.top-header-nav li {
  float: left;
  position: relative;
}
.top-header-nav li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: auto;
  height: auto;
  background: #16683f;
  z-index: 15;
}
.top-header-nav li ul li {
  float: none;
  display: block;
  padding: 0;
}
.top-header-nav li ul li a {
  display: block;
  width: 220px;
  padding: 6px 15px;
}
.top-header-nav li ul li a:hover {
  background: #0d3e26;
}
.top-header-nav li.parent {
  position: relative;
}
.top-header-nav li.parent > a {
  position: relative;
  padding-right: 25px;
}
.top-header-nav li.parent > a:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: .4em 0 0 9px;
  border: solid 2px #ffffff;
  border-top: 0;
  border-right: 0;
  border-radius: 0 0 0 2px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.top-header-nav li:hover > ul,
.top-header-nav li:focus > ul,
.top-header-nav li.active > ul {
  display: block;
}
.top-header-nav li:hover > a,
.top-header-nav li:focus > a,
.top-header-nav li.active > a {
  background: #16683f;
}
.top-header-nav li:hover > a:after,
.top-header-nav li:focus > a:after,
.top-header-nav li.active > a:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: .5em;
}
.top-header-nav-header {
  float: left;
  padding: 15px;
}
.top-header-nav-ul {
  float: left;
}
@media (min-width: 991px) {
  .top-header-nav-ul {
    width: 480px;
  }
}
.top-header-nav-ul .second-level {
  opacity: 1;
  height: auto;
}
.logo {
  font: 600 16px/24px "Open Sans", OpenSans, Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
  text-decoration: none;
  color: #181818;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    font-size: 18px;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .logo {
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  .logo {
    font-size: 24px;
  }
}
.logo:hover,
.logo:focus {
  text-decoration: none;
}
.logo img {
  margin-right: 15px;
  width: 80px;
}
/* ==========================================================================
	   SEARCH */
/* ========================================================================== */
.search-button {
  float: right;
  font: normal 16px/30px "Open Sans", OpenSans, Arial, sans-serif;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
@media (min-width: 992px) {
  .search-button {
    padding: 10px 15px;
  }
}
@media (min-width: 1280px) {
  .search-button {
    padding: 10px 20px;
  }
}
.search-button:hover {
  background: #0d3e26;
  color: #ffffff;
}
.search-button:hover .icon-search {
  background-position: -20px -40px;
}
.container-search {
  overflow: hidden;
  background: #409990;
  color: #ffffff;
  position: absolute;
  width: 0;
  /*top: 0;*/
  height: 50px;
  left: 100%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.container-search.opened {
  /*top: 0;*/
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 10;
}
.container-search .content {
  margin: 0 auto !important;
}
.search-form-block {
  height: 50px;
  overflow: hidden;
}
.search-form-block .icon-search-white {
  opacity: .5;
  float: left;
  margin: 15px 20px 15px 0;
}
.search-input {
  background: #409990;
  color: #ffffff;
  font-size: 20px;
  height: 30px;
  margin: 10px 0;
  border: 0;
  padding: 0;
  outline: none;
  display: block;
  width: 100%;
}
.search-input::-ms-clear {
  display: none;
}
.search-close-button {
  float: right;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.search-close-button .icon {
  margin: 15px;
}
.search-close-button:hover .icon {
  opacity: 1;
}
@media (max-width: 767px) {
  .search-close-button {
    margin-right: 40px;
  }
}
.search-suggestions {
  display: none;
  padding: 40px 20px;
  font-size: 20px;
}
.search-suggestions mark {
  background: #16683f;
  color: #ffffff;
}
.search-suggestions .search-result-item {
  padding: 10px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.search-suggestions .search-result-item:hover {
  background: #31756e;
}
.search-suggestions .search-count {
  opacity: .5;
  padding-left: 10px;
}
.search-suggestions .btn {
  margin-left: 10px;
}

/* ==========================================================================*/
   /*ICONS */
/* ========================================================================== */
.icon {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  background: url('images/all-icons.png') 0 0 no-repeat;
}
@media screen and (min-resolution: 192dpi) {
  .icon {
    background-image: url('images/all-icons@2x.png');
    background-size: 200px 300px;
  }
}
.icon-dd {
  background-position: 0 0;
}
.icon-lk {
  background-position: 0 -60px;
}
.icon-map-marker {
  background-position: 0 -80px;
}
.icon-map-marker-bold {
  background-position: -20px -80px;
}
.icon-special-version {
  background-position: -40px -80px;
  width: 25px;
}
.icon-search {
  background-position: 0 -40px;
}
.icon-search-white {
  background-position: -20px -40px;
}
.icon-close {
  background-position: 0 -100px;
  cursor: pointer;
  opacity: .5;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.icon-close:hover {
  opacity: 1;
}
.icon-social- {
  background-image: none;
  background-size: contain;
  background-color: #ffffff;
  border-radius: 3px;
}
.icon-social-[style] {
  background-color: transparent;
  border-radius: 0;
}
.icon-social-vk {
  background: url('images/k-vk.jpg');
  width: 40px;
  height: 40px;
}
.icon-social-tw {
  background: url('images/k-tw.jpg');
  width: 40px;
  height: 40px;
}
.icon-social-fb {
  background: url('images/k-fb.jpg');
  width: 40px;
  height: 40px;
}

.icon-social-inst {
  background: url('images/k-ok.jpg');
  width: 40px;
  height: 40px;
}
.icon-social-in {
  background-position: 0 -200px;
}
.icon-social-gplus {
  background-position: 0 -220px;
}
.icon-arrow-right {
  background-position: -80px -40px;
}
.icon-arrow-left {
  background-position: -100px -40px;
}
.icon-arrow-down {
  background-position: -100px -60px;
}
.icon-arrow-white-right {
  background-position: -80px -100px;
}
.icon-arrow-white-left {
  background-position: -100px -100px;
}
.icon-pdf {
  background-position: -40px -100px;
  width: 40px;
  height: 40px;
}
.icon-phone {
  background-position: -20px 0;
}
.icon-institution {
  background-position: -20px -20px;
}