/* Breadcrumb
-----------------------------------------------------------------------------*/

.breadcrumb
{
	background-color: #f8f9fa !important;
	
}
.breadcrumb ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  color: #828282;
  margin-bottom: 20px;
}
.breadcrumb ul li {
  display: inline-block;
  margin: 0 15px 0 0;
}
.breadcrumb ul li a {
  color: #828282;
}