.employer-item
{
	max-width: 160px;
}

.text-black
{
	color: black;
}

.image-placeholder
{
	width: 100%;
	height:140px;
	background-image: url(images/Placeholder.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
