#map
{
	height:400px;
	width: 100%;
}

.panel
{
		height:140px;
}

.image-placeholder
{
	width: 100%;
	height:140px;
	background-image: url(images/Placeholder.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
